# git ignore file
*.exe
*.sdf
*.suo
*.pdb
*.filters
*.htm
release
_UpgradeReport_Files
Backup
Backup1
Backup2
Backup3
Backup4
Backup5
Backup6
Backup7
Backup8
debug
build
Win32
_UpgradeReport_Files
Backup
build2012x86
build2012x64
x64
/.project
