# git ignore file
*.exe
*.sdf
*.suo
*.pdb
*.filters
*.htm
*.aps
*.msi
release
debug
_UpgradeReport_Files
Backup
build*
msvc*
data
installer/repository
/.project
CMakeUserPaths.cmake
package.xml
installer-test
repository.zip
/ImageLounge/cmake/*.tmp
/.gitattributes
/installer/nomacs/.*
/installer/nomacs.x64/*
/installer-inno/nomacs.x64/*
/installer/nomacs.x64-old/*
/installer/nomacs.x86/*
/installer/img/banner-thanks.psd
/installer/*.wixobj
/installer/nomacs-setup.msi
/installer/*.wixpdb
/installer/HarvestedFiles.wxs
/notes.md
/x64
/nomacsCore.dir
/installer/*.msi
.vscode
nomacs.code-workspace

# my make
*-local.bat

#snaps
*.snap
parts/
prime/
stage/
snap/.snapcraft/

