[submodule "3rd-party/exiv2"]
	path = 3rd-party/exiv2
	url = git@github.com:nomacs/exiv2.git
[submodule "3rd-party/expat"]
	path = 3rd-party/expat
	url = git@github.com:nomacs/expat.git
[submodule "3rd-party/opencv"]
	path = 3rd-party/opencv
	url = git@github.com:opencv/opencv.git
