image: Visual Studio 2019
configuration: Release
skip_commits:
  files:
    - '.github/*'
    - '.travis.yml'
    - '.gitignore'
    - '*.md'

environment:
    matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      QT5: C:\Qt\5.14\msvc2017_64
      VCVARS: C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat
      ARCHITECTURE: x86_64
      WARNINGS_AS_ERRORS: ON
      PYTHON: "C:\\Python38-x64"

    certpwd:
      secure: lqgUngzqY8panUxQ6C3IYQj4qZ8JYvMak5mH0ihm/ffnkTHADsqgPkXmI70gXVww
    
cache:
    - 3rd-party/build/opencv -> scripts/make.py        # don't rebuild unless the make script changes
    - 3rd-party/build/expat -> scripts/make.py
    - 3rd-party/build/exiv2 -> scripts/make.py
    - 3rd-party/build/quazip -> scripts/make.py
    - 3rd-party/build/libraw -> scripts/make.py
    - 3rd-party/build/imageformats -> scripts/make.py

install:
    - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
    - git submodule update --init --recursive
    - git lfs pull
    - call "%VCVARS%"
    
build_script:
    - python scripts\make.py %QT5% --build-config release

after_build:
    - cd installer
    # make msi installer & sign nomacs
    - call make-msi-setup.bat %certpwd%
    - call make-inno-setup.bat %certpwd%
    # TODO: we should call this from cmake (version number)
    - call python ../scripts/make-portable.py 3.14.0

artifacts:
    - path: 'installer/nomacs-portable-win.zip'
      name: nomacs-portable

    - path: 'installer/nomacs-setup-x64.msi'
      name: nomacs-installer
        
    - path: 'installer/nomacs-setup-x64.exe'
      name: nomacs-multi-user-installer

