version: 3.19.1.{build}
image: Visual Studio 2022
configuration: Release
skip_commits:
  files:
    - '.github/*'
    - '.gitignore'
    - '*.md'

environment:
    matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
      QT5: C:\Qt\5.15.2\msvc2019_64
      QT6: C:\Qt\6.7.1\msvc2019_64
      VCVARS: C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat
      ARCHITECTURE: x86_64
      WARNINGS_AS_ERRORS: ON
      PYTHON: "C:\\Python312-x64"
      GIT_CLONE_PROTECTION_ACTIVE: false

    certpwd:
      secure: lqgUngzqY8panUxQ6C3IYQj4qZ8JYvMak5mH0ihm/ffnkTHADsqgPkXmI70gXVww
    
cache:
    - 3rd-party/build/opencv -> scripts/make.py        # don't rebuild unless the make script changes
    - 3rd-party/build/expat -> scripts/make.py
    - 3rd-party/build/exiv2 -> scripts/make.py
    - 3rd-party/build/quazip -> scripts/make.py
    - 3rd-party/build/libraw -> scripts/make.py
#    - 3rd-party/build/imageformats -> scripts/make.py

install:
    - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%
    - git submodule update --init --recursive
    - git lfs pull
    - call "%VCVARS%"
    
build_script:
    - python scripts\make.py %QT6% --build-config release

after_build:
    - cd installer
    # make msi installer & sign nomacs
    - call make-msi-setup.bat %certpwd%
    - call make-inno-setup.bat %certpwd%
    - call python ../scripts/make-portable.py

artifacts:
    - path: 'installer/nomacs-portable-win.zip'
      name: nomacs-portable

    - path: 'installer/nomacs-setup-x64.msi'
      name: nomacs-installer
        
    - path: 'installer/nomacs-setup-x64.exe'
      name: nomacs-multi-user-installer

    - path: 'installer/nomacs.x64/translations'
      name: translations
      type: zip
