<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>READ Framework</Name>
    <Version>3.4.0</Version>
    <Title>CVL READ</Title>
    <Publisher>Computer Vision Lab | TU Wien</Publisher>
    <StartMenuDir>READ Framework</StartMenuDir>
    <TargetDir>@ApplicationsDir@/READ Framework</TargetDir>
	<InstallerWindowIcon>logo.png</InstallerWindowIcon>
	<InstallerApplicationIcon>rdf</InstallerApplicationIcon>

 	<RemoteRepositories>
		 <Repository>
				 <Url>ftp://scruffy.caa.tuwien.ac.at/staff/read/repository/</Url>
				 <Enabled>1</Enabled>
				 <Username></Username>
				 <Password></Password>
				 <DisplayName>READ Framework - Scruffy</DisplayName>
		 </Repository>
	</RemoteRepositories>
</Installer>