<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BIN_DIR_REF">
            <Directory Id="dir31FF4B98DA72104F4EF95794E76F07EA" Name="imageformats" />
            <Directory Id="dirBD3E793EAB5BB1F1D0B1D1CF0DDFF24D" Name="license" />
            <Directory Id="dirEA1D7863E7F0E62BF6A7A77379F89BCC" Name="platforms" />
            <Directory Id="dir4990C47D8BBBCA3960CCA0EFE693A2BD" Name="plugins" />
            <Directory Id="dir083F4250CC5A4174742339C90EC59C1A" Name="printsupport" />
            <Directory Id="dir1218400ED3C7A05EDFD615602F01AFF9" Name="translations" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ApplicationResources">
            <Component Id="cmpA91ADB9CBAABDFB9A15473BCE9873970" Directory="BIN_DIR_REF" Guid="{D6DAA125-6DFD-4948-97F9-DA573A709E1F}">
                <File Id="fil4703EF86C0CA75019C34D9B32990BC89" KeyPath="yes" Source="SourceDir\api-ms-win-crt-convert-l1-1-0.dll" />
            </Component>
            <Component Id="cmpB672178EB1DFCB35428F09D4A7012DED" Directory="BIN_DIR_REF" Guid="{DA0FB00E-8C34-44D7-B4DE-C862E99E0497}">
                <File Id="fil579D9A4629C4A4444DB46E086C54995E" KeyPath="yes" Source="SourceDir\api-ms-win-crt-environment-l1-1-0.dll" />
            </Component>
            <Component Id="cmpA02921F3AB3DC851CC285BF610D721C9" Directory="BIN_DIR_REF" Guid="{D58DA542-6489-4796-902A-CD315C177112}">
                <File Id="fil7EA97B63AB73240C5D1CAE9BC49CFED4" KeyPath="yes" Source="SourceDir\api-ms-win-crt-filesystem-l1-1-0.dll" />
            </Component>
            <Component Id="cmpC7ACEDF5B94FF1B72F59659A487BB7BA" Directory="BIN_DIR_REF" Guid="{D772D5B6-DDE5-4DC5-BF1E-4213A87486E8}">
                <File Id="filBDC2A0CB70FA6F4995B6D796C45F60EC" KeyPath="yes" Source="SourceDir\api-ms-win-crt-heap-l1-1-0.dll" />
            </Component>
            <Component Id="cmp2FD7D72925F503FF65944B6629AFCABD" Directory="BIN_DIR_REF" Guid="{1C469D64-B448-48C2-91E6-5A2C3202D200}">
                <File Id="fil322D30F0FB68F3E31095F978250EE2F4" KeyPath="yes" Source="SourceDir\api-ms-win-crt-locale-l1-1-0.dll" />
            </Component>
            <Component Id="cmp123FFD1F68E8394BDBF00881F31C6E49" Directory="BIN_DIR_REF" Guid="{B1B9172B-3857-4322-B758-CDB54B9CC98C}">
                <File Id="filD9F3B14C5B8D45A6C3993EB25EF6EB5B" KeyPath="yes" Source="SourceDir\api-ms-win-crt-math-l1-1-0.dll" />
            </Component>
            <Component Id="cmpFA94BAAC91408E9815CC2103A85FF43E" Directory="BIN_DIR_REF" Guid="{027A6B85-45D9-4043-AB23-4A529FF0B9BA}">
                <File Id="filA744AEAD368566DCFBE428C56E22EFEB" KeyPath="yes" Source="SourceDir\api-ms-win-crt-multibyte-l1-1-0.dll" />
            </Component>
            <Component Id="cmpB52A9FDA4728DF5A48F634C4D16822B3" Directory="BIN_DIR_REF" Guid="{A63DF870-C192-463D-91F7-AB5BFF59C1FE}">
                <File Id="fil6B73692C3BD298447E6A73B1AFB3A5C1" KeyPath="yes" Source="SourceDir\api-ms-win-crt-runtime-l1-1-0.dll" />
            </Component>
            <Component Id="cmp722BA5E87AA5A9C79FC061541DD04593" Directory="BIN_DIR_REF" Guid="{6F05A3A7-D8E1-4580-A4D5-CE112AAB83D6}">
                <File Id="fil06E80E59CB9CB8495412B1B66B7BDADB" KeyPath="yes" Source="SourceDir\api-ms-win-crt-stdio-l1-1-0.dll" />
            </Component>
            <Component Id="cmpF70CA266008A303FB616779885539DD0" Directory="BIN_DIR_REF" Guid="{0D55BB72-0E9B-4BFD-AD8D-CA7EFC206E96}">
                <File Id="filBA55C9156FF9DD9689362663CA0E7005" KeyPath="yes" Source="SourceDir\api-ms-win-crt-string-l1-1-0.dll" />
            </Component>
            <Component Id="cmp49EF9B582C6DA9169CC8C60A53B21C5D" Directory="BIN_DIR_REF" Guid="{0BFF8ABA-7B54-4297-8FE7-C13CE1C2D4F3}">
                <File Id="filAE9C7D9EEDE224939E5CC8BBFDCCED68" KeyPath="yes" Source="SourceDir\api-ms-win-crt-time-l1-1-0.dll" />
            </Component>
            <Component Id="cmp7C54A903091EC64738C4EFB644BEBF50" Directory="BIN_DIR_REF" Guid="{7E4D8DF0-4CC4-4C52-BF2A-DC98065DA2CF}">
                <File Id="fil6FA74A177EDBA739A1BD948C743061D3" KeyPath="yes" Source="SourceDir\api-ms-win-crt-utility-l1-1-0.dll" />
            </Component>
            <Component Id="cmpFF067109DB217CDE609C8A35CFE445D3" Directory="BIN_DIR_REF" Guid="{9FCF561A-4EBE-4FDB-A929-F63DCB04441D}">
                <File Id="filD0AA02EAF102A75D38A77E8D59FC6CB1" KeyPath="yes" Source="SourceDir\CONCRT140.dll" />
            </Component>
            <Component Id="cmpA2980421C3894E29C471C4F6C79866C9" Directory="BIN_DIR_REF" Guid="{200566ED-3590-4424-BEC4-35ED968E0A0E}">
                <File Id="filBBAF233F6DC8C3030E9A17EFD36D7E31" KeyPath="yes" Source="SourceDir\libexiv2.dll" />
            </Component>
            <Component Id="cmp31DA093920800591C9AC05982079498A" Directory="BIN_DIR_REF" Guid="{E6AB2EEA-ECFC-4F0A-ACC0-C9909FF8589E}">
                <File Id="filF644F6D91053728B7FC430C2D00C1F41" KeyPath="yes" Source="SourceDir\libexpat.dll" />
            </Component>
            <Component Id="cmp38705BE640D32282668C6BC5021B7459" Directory="BIN_DIR_REF" Guid="{556A43F9-F0F2-4A85-980D-5314628F22C4}">
                <File Id="filCCFAE4F53D44B0236EE9F90F583B2F8C" KeyPath="yes" Source="SourceDir\MSVCP140.dll" />
            </Component>
            <Component Id="cmp5E4D821737888F4F8D30C0B0B8680388" Directory="BIN_DIR_REF" Guid="{9763B726-3635-4F32-8ACA-51F1AE74F7CE}">
                <File Id="fil03C54CB2ADA1783BD9C58D03E602CFF3" KeyPath="yes" Source="SourceDir\nomacs.exe" />
            </Component>
            <Component Id="cmp589BDC6CB4B919B10DCD79434B853BB1" Directory="BIN_DIR_REF" Guid="{E0C55BFB-FE40-4611-9E4F-E788465A07D3}">
                <File Id="filE755A556B615B013BC86BC3E911298F3" KeyPath="yes" Source="SourceDir\nomacsCore.dll" />
            </Component>
            <Component Id="cmpBA4CFBE6ACBE364888BE28D17C4B5AC4" Directory="BIN_DIR_REF" Guid="{A9CFF538-C8FF-4DC7-9E00-681D598C087C}">
                <File Id="fil9F449CF838BE71F6C40C6C2E4479F005" KeyPath="yes" Source="SourceDir\opencv_core320.dll" />
            </Component>
            <Component Id="cmp72BB6CB8A814F778DC0EDD93DA43C7DB" Directory="BIN_DIR_REF" Guid="{751FDA43-DE5D-4918-9DA9-8C1C16005435}">
                <File Id="fil8E3163D62B14392054E669C4C7D56586" KeyPath="yes" Source="SourceDir\opencv_imgproc320.dll" />
            </Component>
            <Component Id="cmp1C8E1CD74787377AA03CD808E8E0F40F" Directory="BIN_DIR_REF" Guid="{80F44111-A6A7-461A-A428-F55033457D13}">
                <File Id="fil58C8FCD4E46E4D47D4D468B76E050065" KeyPath="yes" Source="SourceDir\Qt5Concurrent.dll" />
            </Component>
            <Component Id="cmpB7594B23E1EC9A64317556726743A16F" Directory="BIN_DIR_REF" Guid="{AA7D0344-17FE-43D5-8B02-BD7B7A704CF1}">
                <File Id="filD0C241D55281D48E645BE100DA0764AA" KeyPath="yes" Source="SourceDir\Qt5Core.dll" />
            </Component>
            <Component Id="cmp0B38D8D4470DD69D5FCFDB459BD1DF68" Directory="BIN_DIR_REF" Guid="{09C7051F-98F6-4134-974F-E578BEE71D63}">
                <File Id="fil81624FF0488BB72ACB696E5BCCBEC009" KeyPath="yes" Source="SourceDir\Qt5Gui.dll" />
            </Component>
            <Component Id="cmpB8226ED9316B620C457C48CE588FA557" Directory="BIN_DIR_REF" Guid="{456A8FF3-27DD-4C46-834A-C65505A50E89}">
                <File Id="filD64ADD7D1E5BBE49DE327D0E20D94899" KeyPath="yes" Source="SourceDir\Qt5Network.dll" />
            </Component>
            <Component Id="cmp2843F03519818057E6024CEECF40A5A1" Directory="BIN_DIR_REF" Guid="{70956189-8720-405E-AF45-E0AC3E66F363}">
                <File Id="filA8D2F091437634D880568E961026B2BE" KeyPath="yes" Source="SourceDir\Qt5PrintSupport.dll" />
            </Component>
            <Component Id="cmp27D437DA84E8B3A213D59CE1699FB14F" Directory="BIN_DIR_REF" Guid="{7B94F960-812B-4B11-8EBE-A8C788CCD1E7}">
                <File Id="fil08AC1F66620D4EE3DE78E1B25AD68488" KeyPath="yes" Source="SourceDir\Qt5Svg.dll" />
            </Component>
            <Component Id="cmpCE015EADC8C74D4D6E7DD909411393C2" Directory="BIN_DIR_REF" Guid="{E5B22058-F337-475F-A406-4EC0AF08ADA2}">
                <File Id="fil19967397C560A6ADE2DE974C567DCB13" KeyPath="yes" Source="SourceDir\Qt5Widgets.dll" />
            </Component>
            <Component Id="cmp47227503EA5DA9331C588766E1EB6AC7" Directory="BIN_DIR_REF" Guid="{51160848-93E9-4691-B40D-3316CC6FAC0D}">
                <File Id="fil62E50FFEE97EC794EB0ED43DD76D0428" KeyPath="yes" Source="SourceDir\Qt5WinExtras.dll" />
            </Component>
            <Component Id="cmp61B5D3BA05B308B6D181DDF6000B93A8" Directory="BIN_DIR_REF" Guid="{E87FAA3B-30F1-4B60-8A2C-C9EE062AB765}">
                <File Id="filA8BDBA9FC3C409E89CEB84DE3A12EC2E" KeyPath="yes" Source="SourceDir\quazip.dll" />
            </Component>
            <Component Id="cmpB7ACC1D980DA59B0406440F3D283E2A6" Directory="BIN_DIR_REF" Guid="{1225AEE3-E6F5-400F-92AB-07E8BE068DF6}">
                <File Id="fil98A68F47312FA9150D2D46B29EA442FD" KeyPath="yes" Source="SourceDir\raw.dll" />
            </Component>
            <Component Id="cmpF34D4DDCC85CB39C89A91F469596EA8A" Directory="BIN_DIR_REF" Guid="{48298A3A-6D33-4DB1-A8D2-FCE283ADDC72}">
                <File Id="fil3E16DCEB023CBDB5C75EE8DC45FB22D0" KeyPath="yes" Source="SourceDir\README.md" />
            </Component>
            <Component Id="cmp6A77BE0A14AF7566C8615A3FDD7B1521" Directory="BIN_DIR_REF" Guid="{39520376-24C8-46DB-8E26-BFF0751FEE8D}">
                <File Id="filAD5ADE18C3C216CE6689E30840069C06" KeyPath="yes" Source="SourceDir\vcomp140.dll" />
            </Component>
            <Component Id="cmp7FD26EF720B702652DB8C0B560B0F68A" Directory="BIN_DIR_REF" Guid="{2A614292-0C67-44D0-8CDC-1FC7BB4C12C7}">
                <File Id="fil741A718D1C46BDC0B56BE8ED61BA43A3" KeyPath="yes" Source="SourceDir\VCRUNTIME140.dll" />
            </Component>
            <Component Id="cmp6216A259DF58C21BF5F28425AC5D66D3" Directory="BIN_DIR_REF" Guid="{93EB1713-43F4-41E4-BD51-F66C75C0ED36}">
                <File Id="filBC88283ECFAB7E60AB55EC7DC85F0CAF" KeyPath="yes" Source="SourceDir\zlib1.dll" />
            </Component>
            <Component Id="cmpF6E56496AAEF875A88A30434743AF47F" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{B86EA9E0-B868-4974-8115-24D8FAEDED1A}">
                <File Id="fil9EDD2C1DAB946F1CC238079059A05DAA" KeyPath="yes" Source="SourceDir\imageformats\qgif.dll" />
            </Component>
            <Component Id="cmp9C4F718ECB290ADC47D5CEED42DEFD1A" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{1C1F50B8-64C3-4122-9330-C20A5BA950BE}">
                <File Id="filA892835F7A0F269DCDAFAB4D0C3ADF4D" KeyPath="yes" Source="SourceDir\imageformats\qicns.dll" />
            </Component>
            <Component Id="cmp7DE71B8DD173BAB1528BA4555CD809CC" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{596237F6-E4D3-4AA2-9053-167E1F8E7439}">
                <File Id="filC6699C483DCEA886A78B4C5B62FD3BEC" KeyPath="yes" Source="SourceDir\imageformats\qico.dll" />
            </Component>
            <Component Id="cmpA9D4CD3D8961CD6CC0D7C928690FDC98" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{9355804F-E8AC-45AC-BC87-09A74D7EFF66}">
                <File Id="filB3E3B3A99C46ACC7A03DD9E4964F3E37" KeyPath="yes" Source="SourceDir\imageformats\qjpeg.dll" />
            </Component>
            <Component Id="cmp86B7B1259D36316692B381C4AF7DD4F3" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{812611AD-CEC9-4712-B307-722A751B6E76}">
                <File Id="fil74770BF1F4A7F657F406E404CE94EEB7" KeyPath="yes" Source="SourceDir\imageformats\qpsd.dll" />
            </Component>
            <Component Id="cmp67FE7AAF88D0BAA46BBB9E2817169415" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{8D62A456-9A33-4CBD-BDAD-00AAE833AB36}">
                <File Id="fil19C40B1F829E7896AD83E802AEBAB312" KeyPath="yes" Source="SourceDir\imageformats\qsvg.dll" />
            </Component>
            <Component Id="cmpA2994E88AF259B5BA16C07C5ED14FA24" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{DCA2ADB6-FDB2-4E03-88AD-A8E38FA8E753}">
                <File Id="filCDAE6FE6C175F62D31B863E6D717C17E" KeyPath="yes" Source="SourceDir\imageformats\qtga.dll" />
            </Component>
            <Component Id="cmp7AC9A7CDC8617FA29581B6A975D5E2E6" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{4F608821-3835-49DA-A13D-ABE3FCEB32A9}">
                <File Id="filA04613816287440A2CE9C499426F4DF0" KeyPath="yes" Source="SourceDir\imageformats\qtiff.dll" />
            </Component>
            <Component Id="cmp9684F2CDCE4F61C28D98801D27535A77" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{BC0241BC-0AAE-43E1-B541-696380645C0B}">
                <File Id="fil47219A894449E59E032B16D7AA19A9F1" KeyPath="yes" Source="SourceDir\imageformats\qwbmp.dll" />
            </Component>
            <Component Id="cmp8FFFDBDA4CBF850AB04FA0799952DBC0" Directory="dir31FF4B98DA72104F4EF95794E76F07EA" Guid="{9611EDE9-C14F-4ADE-835C-22A8773A6EB1}">
                <File Id="filD83B942DFFF33F8F2D131A79B37D58AE" KeyPath="yes" Source="SourceDir\imageformats\qwebp.dll" />
            </Component>
            <Component Id="cmp3B4B60334CEA73E3F7ADA49D15A9F489" Directory="dirBD3E793EAB5BB1F1D0B1D1CF0DDFF24D" Guid="{EB1688BA-59B5-4B8F-AAC4-CA6F27B687F8}">
                <File Id="filD0EDB44962430F9D56C5C27C0746AFCF" KeyPath="yes" Source="SourceDir\license\LICENSE.GPLv2" />
            </Component>
            <Component Id="cmp188A91D93ADE4168EC5EF45DF4607C4B" Directory="dirBD3E793EAB5BB1F1D0B1D1CF0DDFF24D" Guid="{B8E8EFE6-4F2C-48E5-B231-C626EF5C651E}">
                <File Id="fil37F87ADA5AC2496F8F5351B9CC925BF8" KeyPath="yes" Source="SourceDir\license\LICENSE.GPLv3" />
            </Component>
            <Component Id="cmp2AA85114F8C30A659AF940F9C6791495" Directory="dirBD3E793EAB5BB1F1D0B1D1CF0DDFF24D" Guid="{E1D4E569-6E1A-4FC8-9716-CD1CDAF48E91}">
                <File Id="fil7620EC4C3D0480027DEAB3507E8E4FB8" KeyPath="yes" Source="SourceDir\license\LICENSE.LGPL" />
            </Component>
            <Component Id="cmp367702197C5D7DF1A3BABE10B52F09E8" Directory="dirBD3E793EAB5BB1F1D0B1D1CF0DDFF24D" Guid="{69601DEC-A09E-43E7-9885-96D4E22932A4}">
                <File Id="fil2E381CB45B6A32FD14CA0B5817493C77" KeyPath="yes" Source="SourceDir\license\LICENSE.OPENCV" />
            </Component>
            <Component Id="cmp7AB42DA7DC4A78038D122707C35B34A9" Directory="dirEA1D7863E7F0E62BF6A7A77379F89BCC" Guid="{1AF85F21-3BCF-4400-B9C9-62B900A340A5}">
                <File Id="fil95A74D34EC93ACF6D20F9FA326E84262" KeyPath="yes" Source="SourceDir\platforms\qwindows.dll" />
            </Component>
            <Component Id="cmpB11E81F89EFE37B852156A45CD6551E4" Directory="dir4990C47D8BBBCA3960CCA0EFE693A2BD" Guid="{451DDE51-2E68-4279-82AE-2E4BCD92FD4C}">
                <File Id="fil27B86F8FC0821867A5AE9CDEB633EE0C" KeyPath="yes" Source="SourceDir\plugins\affineTransformPlugin.dll" />
            </Component>
            <Component Id="cmp36DD1FD6925D83316530C0CFE7A3A18F" Directory="dir4990C47D8BBBCA3960CCA0EFE693A2BD" Guid="{E767D81B-124F-4673-A1C0-6276CFC075E0}">
                <File Id="fil1AE92B7A0B95126F7CC6FFF488600616" KeyPath="yes" Source="SourceDir\plugins\fakeMiniaturesPlugin.dll" />
            </Component>
            <Component Id="cmp79AFD9A2B0DBE3BF4708F57D105C6573" Directory="dir4990C47D8BBBCA3960CCA0EFE693A2BD" Guid="{386FF8F6-A63C-4FE4-9970-64C96E1CAB34}">
                <File Id="fil80EA4EFE7F78CA6D790A159C6D36955F" KeyPath="yes" Source="SourceDir\plugins\pageExtractionPlugin.dll" />
            </Component>
            <Component Id="cmpBE6A0C366CC99BA6BA1D23A1E8673277" Directory="dir4990C47D8BBBCA3960CCA0EFE693A2BD" Guid="{0A14F326-3FE5-490A-8BC4-356F09103D3C}">
                <File Id="fil6133DBB72DB2601D660C8D58BBCC4454" KeyPath="yes" Source="SourceDir\plugins\paintPlugin.dll" />
            </Component>
            <Component Id="cmpEDFB38814EEC161C06A41091F3AD5C9D" Directory="dir083F4250CC5A4174742339C90EC59C1A" Guid="{917F8C62-7C5C-48F0-8672-E5EC6532E115}">
                <File Id="fil926D20DBA30761B2A404966211B4B9F7" KeyPath="yes" Source="SourceDir\printsupport\windowsprintersupport.dll" />
            </Component>
            <Component Id="cmp532365B39251ECAF254F6006E791550F" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{9505C1C2-E1E1-4A70-8EFC-BB986BC7C05C}">
                <File Id="fil5400C3D756517A8B3FFD5C9159973A31" KeyPath="yes" Source="SourceDir\translations\nomacs_als.qm" />
            </Component>
            <Component Id="cmp53F32F308CC067CE88EFA699F3C34612" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{44E656B4-BE2E-4EE4-81C8-17AE788EB7CF}">
                <File Id="filC7B1BD020D33F39044F3FE3142D4F578" KeyPath="yes" Source="SourceDir\translations\nomacs_ar.qm" />
            </Component>
            <Component Id="cmpFB3502A1131958CC5A8F4CDFC7CC1299" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{B06B6F84-FFF2-40A1-ABA7-16F91A057F36}">
                <File Id="filF3C96F1894095E47C6F582CCED689E8B" KeyPath="yes" Source="SourceDir\translations\nomacs_az.qm" />
            </Component>
            <Component Id="cmpDC29E8AA98E26A6F1B48AB2D9F27EDFF" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{C58EEEEC-D2CF-4118-8364-32DDF421F1E6}">
                <File Id="filF6BC169C79C4E5BD2DB035D5DDA5BEE5" KeyPath="yes" Source="SourceDir\translations\nomacs_bg.qm" />
            </Component>
            <Component Id="cmpAAC6DBDB4FC35C8A2935A8B7D55A2486" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{8B3B1B12-9C09-422A-B5BB-8D40FEB3CDA4}">
                <File Id="filF89982D284C5B606907E130D6C2AC121" KeyPath="yes" Source="SourceDir\translations\nomacs_bs.qm" />
            </Component>
            <Component Id="cmpFB251990AE3F51BFDE9DF749F799A487" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{D4DB5B47-8DE0-40AF-8436-FEFF54F5E8E9}">
                <File Id="fil5A9270E4AA30C3BE98D90D7E28F0387C" KeyPath="yes" Source="SourceDir\translations\nomacs_cs.qm" />
            </Component>
            <Component Id="cmp3CF009CF5FA0498BF8D3DB7F3BF55EC3" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{55436387-83CC-4C35-ABF0-CDBC0EAEA076}">
                <File Id="fil4CDBEFB45A51440CFF593378DBDCD066" KeyPath="yes" Source="SourceDir\translations\nomacs_de.qm" />
            </Component>
            <Component Id="cmp3BBB36A721D93F199756EFFE4AE51207" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{6A06BAD2-FA9D-47B6-AE11-63F0FB2737FF}">
                <File Id="filB0B45B77446968A4BD53B44360F898A5" KeyPath="yes" Source="SourceDir\translations\nomacs_en.qm" />
            </Component>
            <Component Id="cmp901D49534FE741BD73FC827389FEAC07" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{99DC6977-4E5F-4C2A-B67C-2263F6AC2437}">
                <File Id="fil02376965345969CBE3E0110E0CF19C52" KeyPath="yes" Source="SourceDir\translations\nomacs_es.qm" />
            </Component>
            <Component Id="cmpDD0E1FCA8D17D7A8641AE5025A3946D1" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{644D0333-C5F8-4D07-A7B8-F507D17DCE5C}">
                <File Id="fil3EB42DAB69E842FA47EE61C1D861D495" KeyPath="yes" Source="SourceDir\translations\nomacs_fr.qm" />
            </Component>
            <Component Id="cmpBC6FCB8F0E0BB84C55CCEA432AD10A30" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{C576FBF6-16E1-4A80-8BAD-E251D197C35B}">
                <File Id="fil2B7AFFCD68F226C414C138192065B2F1" KeyPath="yes" Source="SourceDir\translations\nomacs_hr.qm" />
            </Component>
            <Component Id="cmp866D707D031B1337463B8F2E4EFF578C" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{76F78355-6DA3-4F8D-A709-5FA40349547E}">
                <File Id="fil57368F6964592A679C0847A9F56315F8" KeyPath="yes" Source="SourceDir\translations\nomacs_it.qm" />
            </Component>
            <Component Id="cmp8B58AD95202C606C063109C501960179" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{769A41BB-6845-4627-9792-D041E56360B6}">
                <File Id="filF042D118DC25844C080678663048B312" KeyPath="yes" Source="SourceDir\translations\nomacs_ja.qm" />
            </Component>
            <Component Id="cmp4BA8A4B08EEEE31DA74603D1E9E2BB76" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{5575BDD2-7F9A-4352-BC98-E0E7F511E8AB}">
                <File Id="fil9267806BAC8FE4768CD1E6DD61B5A4E0" KeyPath="yes" Source="SourceDir\translations\nomacs_ko.qm" />
            </Component>
            <Component Id="cmp6ADA91E6D6A3C1D86CBC4A562967C432" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{37E034C4-E218-4CAE-B600-F6F74C39ECE6}">
                <File Id="filE159F217541ABEC27C9F0D9A87E0AD63" KeyPath="yes" Source="SourceDir\translations\nomacs_nl.qm" />
            </Component>
            <Component Id="cmpCE6920C6BFF767B0F9DFA274256F4771" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{E6D86681-9FD7-4280-BBA2-1FB381AD3DE8}">
                <File Id="fil2D9DEB2E47D6F420B87CFF2550CF18B9" KeyPath="yes" Source="SourceDir\translations\nomacs_pl.qm" />
            </Component>
            <Component Id="cmp267DBBD5F20B23C1AE7A982C18BD8507" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{6ECEC6CF-3ED2-4185-84EE-FFD608FCF454}">
                <File Id="fil4D8B30E059B4ECFC068EE2A9FDF9103D" KeyPath="yes" Source="SourceDir\translations\nomacs_pt.qm" />
            </Component>
            <Component Id="cmpCA29EA4311134CEC18872FD4076E2384" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{C3409570-A18D-4511-B298-2F2BB4183C13}">
                <File Id="fil979D9C77EF204E6D61D290FA52040173" KeyPath="yes" Source="SourceDir\translations\nomacs_ru.qm" />
            </Component>
            <Component Id="cmp92B7A00B12BD6D98441A27874EAC032F" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{C23D756F-BB38-417C-BCBB-9C5FA2964F4C}">
                <File Id="filBB38473889B48A966D61EDC96CD52010" KeyPath="yes" Source="SourceDir\translations\nomacs_sk.qm" />
            </Component>
            <Component Id="cmp76A2C7D6E3CB921B7302DEC34AAA9D6C" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{80E15E7A-A723-4287-A43C-71478A231F6A}">
                <File Id="fil161F48AB87FBBDC5449209C279E17D1B" KeyPath="yes" Source="SourceDir\translations\nomacs_sl.qm" />
            </Component>
            <Component Id="cmpCBF19877482C174B3231BA65C7DA4D93" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{60178675-57F2-41E8-8FE3-9D446C9F87B5}">
                <File Id="fil685DC913D19B52A6D2E977BB42FCEF44" KeyPath="yes" Source="SourceDir\translations\nomacs_sr.qm" />
            </Component>
            <Component Id="cmp95D6638907425CF187698050E415AF2F" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{ED0803EE-E003-4EF4-90BF-9EAEF9C0D8DF}">
                <File Id="fil4247008855C8BC777FEFF448885AF80D" KeyPath="yes" Source="SourceDir\translations\nomacs_sv.qm" />
            </Component>
            <Component Id="cmp4E5DE3B71F9A2F422CED14C0DBBC4271" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{E1D2AFD5-75E7-48F1-A73B-FB404979C1D6}">
                <File Id="fil03C5F92CD99D7EE1A673EA9C32543F6B" KeyPath="yes" Source="SourceDir\translations\nomacs_tr.qm" />
            </Component>
            <Component Id="cmp7E6D607B51A6730165A2C0228B8DA10A" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{B8D270DC-B5F8-459F-A62A-D563BEB95314}">
                <File Id="filBFE83B9C45EDFC8AC9929A234990017D" KeyPath="yes" Source="SourceDir\translations\nomacs_uk.qm" />
            </Component>
            <Component Id="cmp6E2DF31126E7A9038806D4B29BFDD157" Directory="dir1218400ED3C7A05EDFD615602F01AFF9" Guid="{9A188CB3-8AFA-4B0B-9888-0B6B8722F62D}">
                <File Id="filC2E587BC268165D067A795BAEBC4363D" KeyPath="yes" Source="SourceDir\translations\nomacs_zh.qm" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>