[Desktop Entry]
Name=Nomacs
GenericName=Image Viewer
Comment=An image viewer
Exec=nomacs %F
Terminal=false
Icon=nomacs
Type=Application
Categories=Graphics;RasterGraphics;Viewer;2DGraphics;
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;
GenericName[de]=Bildbetrachter
Comment[de]=Ressourcenschonender, plattformübergreifend verwendbarer Bildbetrachter mit Unterstützung für verschiedenste Formate
Name[pt]=Nomacs
GenericName[pt]=Visualizador de imagens
Comment[pt]=Um visualizador de imagens desenvolvido em Qt
