<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>nomacs | Image Lounge</Name>
    <Version>3.0.0</Version>
    <Title>nomacs</Title>
    <Publisher>nomacs</Publisher>
    <StartMenuDir>nomacs - Image Lounge</StartMenuDir>
    <TargetDir>@ApplicationsDir@/nomacs</TargetDir>
	<InstallerWindowIcon>logo.png</InstallerWindowIcon>
	<InstallerApplicationIcon>nomacs.ico</InstallerApplicationIcon>

 	<RemoteRepositories>
		 <Repository>
				 <Url>http://download.nomacs.org/repository/</Url>
				 <Enabled>1</Enabled>
				 <Username></Username>
				 <Password></Password>
				 <DisplayName>nomacs - Image Lounge</DisplayName>
		 </Repository>
	</RemoteRepositories>
</Installer>